<div class="tableSummary">
    <span *ngFor="let s of summaryData; last as isLast"><span class="status" [ngClass]="s.status">{{s.status}}</span>: {{s.count}}{{isLast?"":", "}}</span>
</div>

<aqgrlib-tree-table [data]="tableData" enableCount="true">

    <aqgrlib-tree-table-column prop="name">
        <ng-template aqgrlibTreeTableColumnHeader>
            <span>Secondary farmed type</span>
        </ng-template>
        <ng-template let-value="value" let-level="level" let-row="row" let-count="count" aqgrlibTreeTableColumnCell>
            <span *ngIf="level===0">{{value}} ({{count}})</span>
            <span *ngIf="level===1">
                <span *ngIf="row.ftypes===0"><i>{{value}}</i></span>
                <a [routerLink]="['/sftype', (production)?row.id:'Hybrids 1']" *ngIf="row.ftypes!==0"><i>{{value}}</i></a>
            </span>
        </ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="lastModifiedDate" cellClass="date">
        <ng-template aqgrlibTreeTableColumnHeader>Last update</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>{{value | date:defaultDateFormat}}</ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="status" cellClass="status">
        <ng-template aqgrlibTreeTableColumnHeader>Status</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>
            <span [ngClass]="value">{{value}}</span>
        </ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column cellClass="actions" headerClass="actions">
        <ng-template aqgrlibTreeTableColumnHeader>Actions</ng-template>
        <ng-template let-row="row" let-level="level" aqgrlibTreeTableColumnCell>
            <span *ngIf="row.sftypes===0 && level>0">
                <button type="button" class="btn mx-2 btn-success" *ngIf="row.status!==statuses.accepted" (click)="onAcceptClick(row)">Accept</button>
                <button type="button" class="btn mx-2 btn-danger" *ngIf="row.status!==statuses.rejected" (click)="onRejectClick(row)">Reject</button>
            </span>
        </ng-template>
    </aqgrlib-tree-table-column>

</aqgrlib-tree-table>

