<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader" [innerHTML]="'sftypePage.pageTitle' | translate:info"></h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12 mb-3">
            <app-back-btn01></app-back-btn01>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="table-responsive">
                <table class="fao-expandtable infoTable table table-striped table-bordered">
                    <tbody>

                        <tr>
                            <td [innerHTML]="'sftypePage.status' | translate"></td>
                            <td class="status"><span [ngClass]="info['status']">{{info['status']}}</span></td>
                        </tr>

                        <tr>
                            <td>Name of person reporting information for this farmed type (if different from the national focal point):</td>
                            <td>{{info['VarRes_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarDesc_P' | translate"></td>
                            <td>{{info['VarDesc_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.estProdVar_P' | translate"></td>
                            <td>{{info['estProdVar_P']}} %</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.EstValVar_P' | translate"></td>
                            <td>{{info['EstValVar_P']}} $</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.species' | translate"></td>
                            <td><i>{{info['species']}}</i></td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.isIntroduced' | translate"></td>
                            <td>{{info['isIntroduced']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarPropDet_P' | translate"></td>
                            <td>{{info['VarPropDet_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.NatRegVar_P' | translate"></td>
                            <td>{{info['NatRegVar_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarRegDetails_P' | translate"></td>
                            <td>{{info['VarRegDetails_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.useSpeciesVar_P' | translate"></td>
                            <td>{{info['useSpeciesVar_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarBreedref_P' | translate"></td>
                            <td>{{info['VarBreedref_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.Varherch_P' | translate"></td>
                            <td>{{info['Varherch_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarGenetic_P' | translate"></td>
                            <td>{{info['VarGenetic_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarBreedref_P' | translate"></td>
                            <td>{{info['VarBreedref_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.VarSou_P' | translate"></td>
                            <td>{{info['VarSou_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.Varexport_P' | translate"></td>
                            <td>{{info['Varexport_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.Varexportdetail_P' | translate"></td>
                            <td>{{info['Varexportdetail_P']}}</td>
                        </tr>


                        <tr>
                            <td [innerHTML]="'sftypePage.comments' | translate"></td>
                            <td>{{info['comments']}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 mx-n2">
            <button type="button" class="btn mx-2 btn-success" *ngIf="info['status']!==statuses.accepted" (click)="onAcceptClick(info)" [innerHTML]="'sftypePage.acceptBtn' | translate"></button>
            <button type="button" class="btn mx-2 btn-danger" *ngIf="info['status']!==statuses.rejected" (click)="onRejectClick(info)" [innerHTML]="'sftypePage.rejectBtn' | translate"></button>
        </div>
    </div>
</div>
