<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader" [innerHTML]="'ftypePage.pagetitle' | translate:info"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <app-back-btn01></app-back-btn01>
        </div>
    </div>


    <div class="row">
        <div class="col-12">

            <div class="table-responsive">
                <table class="fao-expandtable infoTable table table-striped table-bordered">
                    <tbody>

                        <tr>
                            <td [innerHTML]="'ftypePage.status' | translate"></td>
                            <td class="status"><span [ngClass]="info['status']">{{info['status']}}</span></td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.culturesSystemper_P' | translate"></td>
                            <td>{{info['culturesSystemper_P']}} %</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarName_P' | translate"></td>
                            <td><i>{{info['VarName_P']}}</i></td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarRes_P' | translate"></td>
                            <td>{{info['VarRes_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarDesc_P' | translate"></td>
                            <td>{{info['VarDesc_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.estProdVar_P' | translate"></td>
                            <td>{{info['estProdVar_P']}} %</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.EstValVar_P' | translate"></td>
                            <td>{{info['EstValVar_P']}} $</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.OrigVar_P' | translate"></td>
                            <td>{{info['OrigVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarPropDet_P' | translate"></td>
                            <td>{{info['VarPropDet_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.Varrisks_P' | translate"></td>
                            <td>{{info['Varrisks_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.Varriskdetails_P' | translate"></td>
                            <td>{{info['Varriskdetails_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.SpecCompVar_P' | translate"></td>
                            <td>{{info['SpecCompVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.SpecCompListVar_P' | translate"></td>
                            <td>{{info['SpecCompListVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.Varmethod_P' | translate"></td>
                            <td>{{info['Varmethod_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarDomestication_P' | translate"></td>
                            <td>{{info['VarDomestication_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarBreeding_P' | translate"></td>
                            <td>{{info['VarBreeding_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.useSpeciesVar_P' | translate"></td>
                            <td>{{info['useSpeciesVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.usepurposeratVar_P' | translate"></td>
                            <td>{{info['usepurposeratVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.RegVar_P' | translate"></td>
                            <td>{{info['RegVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.RegDetails_P' | translate"></td>
                            <td>{{info['RegDetails_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.NatRegVar_P' | translate"></td>
                            <td>{{info['NatRegVar_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarRegDetails_P' | translate"></td>
                            <td>{{info['VarRegDetails_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarBreedHis_P' | translate"></td>
                            <td>{{info['VarBreedHis_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarBreedgen_P' | translate"></td>
                            <td>{{info['VarBreedgen_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarBreedref_P' | translate"></td>
                            <td>{{info['VarBreedref_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.Varherch_P' | translate"></td>
                            <td>{{info['Varherch_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarGenetic_P' | translate"></td>
                            <td>{{info['VarGenetic_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarQualPheno_P' | translate"></td>
                            <td>{{info['VarQualPheno_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarQuanPerf_P' | translate"></td>
                            <td>{{info['VarQuanPerf_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarProdPerf_P' | translate"></td>
                            <td>{{info['VarProdPerf_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarCarcass_P' | translate"></td>
                            <td>{{info['VarCarcass_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarFlesh_P' | translate"></td>
                            <td>{{info['VarFlesh_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarFitness_P' | translate"></td>
                            <td>{{info['VarFitness_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarDistComments_P' | translate"></td>
                            <td>{{info['VarDistComments_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.VarSou_P' | translate"></td>
                            <td>{{info['VarSou_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.Varexport_P' | translate"></td>
                            <td>{{info['Varexport_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.Varexportdetail_P' | translate"></td>
                            <td>{{info['Varexportdetail_P']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'ftypePage.comments' | translate"></td>
                            <td>{{info['comments']}}</td>
                        </tr>


                    </tbody>
                </table>
            </div>


            <div class="row">
                <div class="col-12 mb-3 mx-n2">
                    <button type="button" class="btn mx-2 btn-success" *ngIf="info['status']!==statuses.accepted" (click)="onAcceptClick(info)" [innerHTML]="'ftypePage.acceptBtn' | translate"></button>
                    <button type="button" class="btn mx-2 btn-danger" *ngIf="info['status']!==statuses.rejected" (click)="onRejectClick(info)" [innerHTML]="'ftypePage.rejectBtn' | translate"></button>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>

    <hr />

    <br>
    <br>

    <div class="row">
        <div class="col-sm-12" [innerHTML]="'ftypePage.tableTitle' | translate:info"></div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-12">
            <app-sftypes-table [searchServiceParams]="userStateService.ssp" *ngIf="info['name']"></app-sftypes-table>
        </div>
    </div>

</div>
