<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader">Data validation Secondary farmed types:</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Which Secondary farmed types are farmed for <b>{{ftypeName}}</b>?
        </div>
    </div>
        
    <br>
    <br>
    <div class="row">
        <div class="col-12 mb-3">
            <app-back-btn01></app-back-btn01>
            <button type="button" class="btn mx-2 btn-success" (click)="onAcceptAllClick()">Accept all</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-sftypes-table [searchServiceParams]="searchServiceParams" *ngIf="ftypeName"></app-sftypes-table>
        </div>
    </div>
</div>
