@import './vars.scss';

.statusColors{
    &.rejected {
        color: $color_red;
    }
    &.pending, &.new {
        color: $color_yellow;
    }
    &.accepted, &.published {
        color: $color_green;
    }
}

table {
    tr{
        th{
            text-align:center !important;

            &.actions{
                width:27%;
            }
        }

        td{
            /* TODO: center table data (non numeric) */
            text-align:left !important;

            &.number{
                text-align:right !important;
            }

            &.status {
                font-weight: bold;

                &::first-letter {
                    text-transform: capitalize;
                }

                span {
                    @extend .statusColors;
                }
            }

            &.actions {
                text-align:center !important;

                button {
                    font-size: inherit;
                }
            }
        }
    }
    
}

.tableSummary {
	text-align: right;
	span {
		text-transform: capitalize;

        span.status{
            @extend .statusColors;
        }
	}
}
