@import './vars.scss';

table {
    tr{
        td, th{
            text-align:left !important;
        }

        td{
            &.status {
                font-weight: bold;

                &::first-letter {
                    text-transform: capitalize;
                }

                span {
                    &.pending {
                        color: $color_yellow;
                    }
                    &.accepted, &.published {
                        color: $color_green;
                    }
                }
            }

            &.actions button {
                font-size: inherit;
            }
        }
    }
    
}

