@import './vars.scss';
@import './mixin.scss';

aqgrlib-tree-table table {
    tr{
        th{
            text-align:center !important;

            &.actions{
                width:27%;
            }
        }

        td{
            text-align:center !important;

            &.index-0{
                text-align:left !important;
            }

            &.date{
                text-transform:uppercase;
            }
            &.number{
                text-align:right !important;
            }

            &.status {
                @extend .statusWr;
            }

            &.actions {
                text-align:center !important;

                button {
                    font-size: inherit;
                }
            }
        }
    }
    
}

.tableSummary {
	text-align: right;
	span {
		text-transform: capitalize;

        span.status{
            @extend .statusColors;
        }
	}
}
