<aqgrlib-tree-table [data]="tableData">

    <aqgrlib-tree-table-column prop="nameEn">
        <ng-template aqgrlibTreeTableColumnHeader>Countries</ng-template>
        <ng-template let-value="value" let-level="level" let-row="row" aqgrlibTreeTableColumnCell>
            <span *ngIf="level!=2">{{value}}</span>
            <a [routerLink]="['/country', (production)?row.iso3:'PHL']" *ngIf="level===2">{{value}}</a>
        </ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="species" headerClass="number" cellClass="number">
        <ng-template aqgrlibTreeTableColumnHeader>Species</ng-template>
        <ng-template let-value="value" let-row="row" aqgrlibTreeTableColumnCell>
            <span>{{value | number:defaultNumberFormat}}</span>
        </ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="ftypes" headerClass="number" cellClass="number">
        <ng-template aqgrlibTreeTableColumnHeader>Farmed types</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>{{value | number:defaultNumberFormat}}</ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="sftypes" headerClass="number" cellClass="number">
        <ng-template aqgrlibTreeTableColumnHeader>Secondary<br>farmed types</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>{{value | number:defaultNumberFormat}}</ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="lastUploadDate">
        <ng-template aqgrlibTreeTableColumnHeader>Last upload</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>{{value | date:defaultDateFormat}}</ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="status" cellClass="status">
        <ng-template aqgrlibTreeTableColumnHeader>Status</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>
            <span [ngClass]="value">{{value}}</span>
        </ng-template>
    </aqgrlib-tree-table-column>

</aqgrlib-tree-table>
