<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader">Data validation of <b><i>{{specieName}}</i></b>  in {{info.country}}:</h1>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-2 mb-3">
            <app-back-btn01></app-back-btn01>
        </div>
    </div>


<div class="row">
        <div class="col-12">

            <div class="table-responsive">
                <table class="fao-expandtable infoTable table table-striped table-bordered">
                    <tbody>

                        <tr>
                            <td>Person providing the information for this species (if different from the National Focal Point)</td>
                            <td>{{info.addinformant_CM}}</td>
                        </tr>

                        <tr>
                            <td>Status:</td>
                            <td class="status"><span [ngClass]="info.status">{{info.status}}</span></td>
                        </tr>

                        <tr>
                            <td>Common name for the species in your country</td>
                            <td>{{info.cse_CM}}</td>
                        </tr>

                        <tr>
                            <td>Is the species native to your country?</td>
                            <!-- TODO: connect funky radio to native_CM -->
                            <td><app-funky-radio type="success" inputId="nativeCB" label="Is this spece native?" [(inputModel)]="isNative" (inputModelChange)="toggleNative($event)"></app-funky-radio></td>
                        </tr>

                        <tr>
                            <td>Are there any risks associated with the introduction of this species/farmed type?</td>
                            <td>{{info.risks_CM}}</td>
                        </tr>

                        <tr>
                            <td>Provide details on real or potential risks associated to the introduction of this species.</td>
                            <td>{{info.risksdetail_CM}}</td>
                        </tr>

                        <tr>
                            <td>What is the main use of this species?</td>
                            <td>{{info.mainuse_CM}}</td>
                        </tr>

                        <tr>
                            <td>Are there any species-specific controls on conservation, management and use of this species?</td>
                            <td>{{info.wre_CM}}</td>
                        </tr>

                        <tr>
                            <td>What are the common culture systems commony used for this species</td>
                            <td>{{info.cultureSystem_CM}}</td>
                        </tr>

                        <tr>
                            <td>How many tonnes of this species did your country produce last year?</td>
                            <td>{{info.ProdAmt_CM}}</td>
                        </tr>

                        <tr>
                            <td>What is the estimated total value of production in USD?</td>
                            <td>{{info.prodVal_CM}}</td>
                        </tr>

                        <tr>
                            <td>What is the current trend of production (i.e. over the last 10 years)?</td>
                            <td>{{info.prodTrend_CM}}</td>
                        </tr>

                        <tr>
                            <td>What is the expected trend in production over the next 10 years? Please mark appropriate box.</td>
                            <td>{{info.futTrend_CM}}</td>
                        </tr>

                        <tr>
                            <td>Comments:</td>
                            <td>{{info.comments}}</td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <!-- TODO: add accept/reject btn -->


        </div>
    </div>

    <br>
    <br>

    <hr />

    <br>
    <br>

    <div class="row">
        <div class="col-sm-12">
            Primary farmed types of <b><i>{{info.name}}</i></b> in <b>{{info.country}}</b>.
        </div>
    </div>

    <br>
    <br>
    
    <div class="row">
        <div class="col-12">
            <app-ftypes-table [searchServiceParams]="searchServiceParams" *ngIf="specieName"></app-ftypes-table>
        </div>
    </div>
</div>


