<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader"><span [innerHTML]="'speciesPage.pageTitle' | translate:info"></span></h1>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-2 mb-3">
            <app-back-btn01></app-back-btn01>
        </div>
    </div>


<div class="row">
        <div class="col-12">

            <div class="table-responsive">
                <table class="fao-expandtable infoTable table table-striped table-bordered">
                    <tbody>

                        <tr>
                            <td [innerHTML]="'speciesPage.addinformant_CM' | translate"></td>
                            <td>{{info['addinformant_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.status' | translate"></td>
                            <td class="status"><span [ngClass]="info['status']">{{info['status']}}</span></td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.cse_CM' | translate"></td>
                            <td>{{info['cse_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.native_CM' | translate"></td>
                            <td><app-funky-radio type="success" inputId="nativeCB" label="{{'speciesPage.native_CM_label' | translate}}" [inputModel]="yn2Bool(info['native_CM'])" (inputModelChange)="toggleNative($event)"></app-funky-radio></td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.risks_CM' | translate"></td>
                            <td>{{info['risks_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.risksdetail_CM' | translate"></td>
                            <td>{{info['risksdetail_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.mainuse_CM' | translate"></td>
                            <td>{{info['mainuse_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.wre_CM' | translate"></td>
                            <td>{{info['wre_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.cultureSystem_CM' | translate"></td>
                            <td>{{info['cultureSystem_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.ProdAmt_CM' | translate"></td>
                            <td>{{info['ProdAmt_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.prodVal_CM' | translate"></td>
                            <td>{{info['prodVal_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.prodTrend_CM' | translate"></td>
                            <td>{{info['prodTrend_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.futTrend_CM' | translate"></td>
                            <td>{{info['futTrend_CM']}}</td>
                        </tr>

                        <tr>
                            <td [innerHTML]="'speciesPage.comments' | translate"></td>
                            <td>{{info['comments']}}</td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-12 mb-3 mx-n2">
                    <button type="button" class="btn mx-2 btn-success" *ngIf="info['status']===statuses.accepted" (click)="onPublishClick(info)">{{"speciesPage.publishBtn" | translate}}</button>
                    <button type="button" class="btn mx-2 btn-warning" *ngIf="info['status']===statuses.published" (click)="onUnpublishClick(info)">{{"speciesPage.unPublishBtn" | translate}}</button>
                    <span *ngIf="info['ftypes']===0">
                        <button type="button" class="btn mx-2 btn-success" *ngIf="info['status']===statuses.new || info['status']===statuses.rejected" (click)="onAcceptClick(info)">{{"speciesPage.acceptBtn" | translate}}</button>
                        <button type="button" class="btn mx-2 btn-danger" *ngIf="info['status']===statuses.new || info['status']===statuses.accepted" (click)="onRejectClick(info)">{{"speciesPage.rejectBtn" | translate}}</button>
                    </span>

                </div>
            </div>


        </div>
    </div>

    <br>
    <br>

    <hr />

    <br>
    <br>

    <div class="row">
        <div class="col-sm-12" [innerHTML]="'speciesPage.ftypesTableTitle' | translate:info"></div>
    </div>

    <br>
    <br>
    
    <div class="row">
        <div class="col-12">
            <app-ftypes-table [searchServiceParams]="userStateService.ssp" *ngIf="info['name']"></app-ftypes-table>
        </div>
    </div>
</div>


