<!-- TODO: publication at species level -->
<aqgrlib-tree-table [data]="tableData">

    <aqgrlib-tree-table-column prop="name">
        <ng-template aqgrlibTreeTableColumnHeader>Countries</ng-template>
        <ng-template let-value="value" let-level="level" let-row="row" aqgrlibTreeTableColumnCell>
            <span *ngIf="level===0">{{value}}</span>
            <span *ngIf="level===1">
                <span *ngIf="row.ftypes===0"><i>{{value}}</i></span>
                <a [routerLink]="['/specie', row.alphaCode]" *ngIf="row.ftypes!==0"><i>{{value}}</i></a>
            </span>
        </ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="ftypes">
        {{value}}
        <ng-template aqgrlibTreeTableColumnHeader>No of farmed types</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>{{value}}</ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="lastModifiedDate" aqgrlibTreeTableColumn>
        <ng-template aqgrlibTreeTableColumnHeader>Last update</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>{{value | date:defaultDateFormat}}</ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column prop="status" cellClass="status" aqgrlibTreeTableColumn>
        <ng-template aqgrlibTreeTableColumnHeader>Status</ng-template>
        <ng-template let-value="value" aqgrlibTreeTableColumnCell>
            <span [ngClass]="value">{{value}}</span>
        </ng-template>
    </aqgrlib-tree-table-column>

    <aqgrlib-tree-table-column cellClass="actions" aqgrlibTreeTableColumn>
        <ng-template aqgrlibTreeTableColumnHeader>Actions</ng-template>
        <ng-template let-row="row" aqgrlibTreeTableColumnCell>
            <button type="button" class="btn mx-2 btn-success" *ngIf="row.status==='accepted'" (click)="onPublishClick(row.name)">Publish</button>
            <span *ngIf="row.ftypes===0">
                <button type="button" class="btn mx-2 btn-success" *ngIf="row.status==='new' || row.status==='rejected'" (click)="onAcceptClick(row.name)">Accept</button>
                <button type="button" class="btn mx-2 btn-danger" *ngIf="row.status==='new' || row.status==='accepted'" (click)="onRejectClick(row.name)">Reject</button>
            </span>
        </ng-template>
    </aqgrlib-tree-table-column>

</aqgrlib-tree-table>
