<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader">Data validation of species in {{info['nameEn']}}:</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            National coordinator name: <b>{{info['natfocal']}}</b>
        </div>
    </div>
        
    <br>
    <br>
    <div class="row">
        <div class="col-2 mb-3">
            <app-back-btn01></app-back-btn01>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-species-table [searchServiceParams]="searchServiceParams" *ngIf="info['nameEn']"></app-species-table>
        </div>
    </div>
</div>


