<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader">Data validation Species:</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Which Species are farmed in {{countryName}}?
        </div>
    </div>
        
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <app-species-table [searchServiceParams]="searchServiceParams" *ngIf="countryName"></app-species-table>
        </div>
    </div>
</div>


