@import './styles/mixin.scss';

table.infoTable tr td {
    width: 50%;
    font-weight: bold;
    &:first-child {
        text-align: right;
        font-weight: inherit;
    }
    &.status {
        @extend .statusWr;
    }
}
